.profile {
  height: 15rem;
  border-radius: 50%;
}

.about-link {
  text-decoration: none;
  color: #f0f1f2;
}

.about-link:hover,
.about-link:focus {
  border-bottom: 0.15rem solid #f0f1f2;
}

.skills-header {
  text-align: center;
  padding-top: 0.75rem;
  margin-top: 0.75rem;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.skill-list-item {
  padding: 0.25rem 0;
}

.skill-list-item:last-child {
  padding-bottom: 4rem;
}
