.profile {
    height: 15rem;
    border-radius: 50%;
}

.about-link {
    text-decoration: none;
    color: #F0F1F2;
}

.about-link:hover,
.about-link:focus {
    border-bottom: .15rem solid #F0F1F2;
}

.skills-header {
    text-align: center;
    padding-top: .75rem;
    margin-top: .75rem;
}

.skill-list {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.skill-list-item {
    padding: .25rem 0;
}

.skill-list-item:last-child {
    padding-bottom: 1rem;
}