.profile {
  height: 15rem;
  border-radius: 50%;
}

.about-link {
  text-decoration: none;
  color: #f0f1f2;
  background: linear-gradient(#f0f1f2 0 0) 0% calc(-3px - 100%) / var(--d, 0%)
    200% no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
}

.about-link:hover {
  --d: 100%;
  background-position: 50% 0%;
  color: #222626;
  transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
}

.skills-header {
  text-align: center;
  padding-top: 0.75rem;
  margin-top: 0.75rem;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.skill-list-item {
  padding: 0.25rem 0;
}

.skill-list-item:last-child {
  margin-bottom: 4rem;
}

@media screen and (max-width: 400px) {
  .profile {
    height: auto;
    width: 90%;
  }

  .skill-list-item:last-child {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 200px) {
  .skill-list-item:last-child {
    margin-bottom: 8rem;
  }
}
