.landing-paragraph {
    margin-bottom: .75rem;
}

.anchor-link {
    text-decoration: none;
    color: #F0F1F2;
}

.anchor-link:hover,
.anchor-link:focus {
    border-bottom: .15rem solid #F0F1F2;
}

.landing-page-links-container {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    text-align: center;
}

.landing-page-link {
    text-decoration: none;
    font-size: 1.25rem;
    margin: .25rem .5rem;
    padding-top:.75rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #F0F1F2;
    border: .15rem solid #F0F1F2;
    transition: all 100ms ease-in;
}

.landing-page-link:hover,
.landing-page-link:focus {
    background-color: #F0F1F2;
    color: #222626;
}

@media screen and (max-width: 490px) {
    .landing-page-links-container {
        flex-flow: column wrap;
    }

    .landing-page-link {
        margin: .5rem;
    }
}