.landing-paragraph {
  margin-bottom: 0.75rem;
}

.anchor-link {
  text-decoration: none;
  color: #f0f1f2;
  background: linear-gradient(#f0f1f2 0 0) 0% calc(-3px - 100%) / var(--d, 0%)
    200% no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
}

.anchor-link:hover,
.anchor-link:focus {
  --d: 100%;
  background-position: 50% 0%;
  color: #222626;
  transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
}

.landing-page-links-container {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  text-align: center;
}

.landing-page-link {
  text-decoration: none;
  font-size: 1.25rem;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem;
  color: #f0f1f2;
  border: 0.15rem solid #f0f1f2;
  transition: all 100ms ease-in;
}

.landing-page-link:hover,
.landing-page-link:focus {
  background-color: #f0f1f2;
  color: #222626;
}

@media screen and (max-width: 900px) {
  .landing-page-links-container {
    flex-flow: column wrap;
  }

  .landing-page-link {
    margin: 0.5rem;
  }
}
