.project-card {
    display: flex;
    flex-flow: column wrap;
    max-width: 40rem;
    margin: 1rem;
    padding: 1rem;
    border: .15rem solid #F0F1F2;
}

.project-card:last-child {
    margin-bottom: 4rem;
}