.navbar-container {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
}

.navbar-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 50%;
}

.navbar-header-link {
  text-decoration: none;
  color: #f0f1f2;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  margin-left: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.menu-bar {
  height: 0.5rem;
  width: 2rem;
  background-color: #f0f1f2;
  transition: 1s;
  margin-top: 0.35rem;
}

.dropdown-menu-hidden {
  display: none;
}

.dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 40vh;
  width: auto;
  margin-bottom: 1rem;
  background-color: #f0f1f2;
}

.navbar-link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem;
  background-color: #f0f1f2;
  color: #222626;
  margin: 0.5rem;
  padding: 0.5rem 0.25rem;
}

@media screen and (max-width: 600px) {
  .dropdown-menu {
    height: 50vh;
  }
}
