.navbar-container {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
}

.navbar-header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 50%;
}

.navbar-header-link {
    text-decoration: none;
    color: #F0F1F2;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.menu-bar {
    height: .5rem;
    width: 2rem;
    background-color:#F0F1F2;
    transition: 1s;
}

.dropdown-menu-hidden {
    display: none;
}

.dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 40vh;
    width: auto;
    background-color: #F0F1F2;
}


.navbar-link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    margin: .25rem .5rem;
    padding: .5rem;
    background-color: #F0F1F2;
    color: #222626;
    margin: .5rem;
    padding: .5rem .25rem;
}
