.navbar-container {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
}

.navbar-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 50%;
}

.navbar-header-link {
  text-decoration: none;
  color: #f0f1f2;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  margin-left: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 0.3rem;
}

.menu-bar {
  height: 0.5rem;
  width: 2rem;
  background-color: #f0f1f2;
  transition: 1s;
}

.dropdown-menu-hidden {
  display: none;
}

.dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 40vh;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #f0f1f2;
}

.navbar-link {
  text-decoration: none;
  text-align: center;
  width: 14rem;
  font-size: 2rem;
  color: #222626;
  background: linear-gradient(#222626 0 0) 0% calc(-3px - 100%) / var(--d, 0%)
    200% no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

.navbar-link:hover,
.navbar-link:focus {
  --d: 100%;
  background-position: 50% 0%;
  color: #f0f1f2;
  transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
}

@media screen and (max-width: 300px) {
  .dropdown-menu {
    height: 50vh;
  }
}
