.about-container {
    display: flex;
    flex-flow: column wrap;
    width: 42rem;
    margin: .25rem;
    padding: .25rem;
}

@media screen and (max-width: 900px) {
    .about-container {
        max-width: 90%;
    }
}