.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.project-image {
  max-width: 100%;
  text-align: center;
}

.project-name {
  text-align: center;
}
.project-card-paragraph {
  font-size: 1rem;
  line-height: 2rem;
}

.project-link {
  text-decoration: none;
  font-size: 1.25rem;
  width: auto;
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: #f0f1f2;
  border: 0.15rem solid #f0f1f2;
  transition: all 100ms ease-in;
}

.project-link:hover,
.project-link:focus {
  background-color: #f0f1f2;
  color: #222626;
}

@media screen and (max-width: 600px) {
  .project-image {
    height: 10rem;
  }
}
