.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.project-image {
  max-width: 100%;
  text-align: center;
}

.project-name {
  text-align: center;
}
.project-card-paragraph {
  font-size: 1rem;
  line-height: 2rem;
}

.project-link {
  text-decoration: none;
  font-size: 1.25rem;
  margin: .25rem .5rem;
  padding-top:.75rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  color: #F0F1F2;
  border: .15rem solid #F0F1F2;
  transition: all 100ms ease-in;
}

.project-link:hover,
.project-link:focus {
  background-color: #f0f1f2;
  color: #222626;
}

@media screen and (max-width: 600px) {
  .project-image {
    height: 10rem;
  }
}
